@import "../../App.css";

.navbar {
    display: inline-block; /* Set the display property to inline-block */
    background-color: var(--night); /* Theme background color */
    position: fixed; /* Fixed position so it stays on the left */
    left: 0; /* Align it to the left side of the screen */
    top: 0; /* Align it to the top of the screen */
}

.navbar ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0;
    margin: 0; /* Remove default margin */
}

.navbar li {
    padding: 10px 20px; /* Adjust padding as needed */
    color: var(--pomp-and-power); /* Theme text color */
    cursor: pointer; /* Show pointer cursor on hover */
    border-bottom: 1px solid var(--pomp-and-power); /* Theme border color */
}

.navbar li:hover {
    background-color: var(--pomp-and-power); /* Theme hover background color */
    color: var(--night); /* Theme hover text color */
}

.vertical-writing {
    writing-mode: vertical-rl;
    text-orientation: upright;
}