@import "../../App.css";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: var(--night);
  position: fixed;
  left: 0;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar li {
  padding: 1px 20px;
  color: var(--pomp-and-power);
  cursor: pointer;
  border-bottom: 1px solid var(--pomp-and-power);
  writing-mode: vertical-rl;
  text-orientation: upright;
}

.navbar li:hover {
  background-color: var(--pomp-and-power);
  color: var(--night);
}

.activeLink li {
  color: white;
  background-color: var(--pomp-and-power);
  border-bottom: 2px solid var(--highlight-color);
}
